 .u-section-1 {
  background-image: url("images/Fnatic_Boaster_at_Masters_Reykjavik_2022.jpg");
}

.u-section-1 .u-sheet-1 {
  min-height: 2072px;
}

.u-section-1 .u-group-1 {
  background-image: none;
  min-height: 1251px;
  height: auto;
  margin-top: 200px;
  margin-bottom: 0;
}

.u-section-1 .u-container-layout-1 {
  padding: 0 0 27px;
}

.u-section-1 .u-text-1 {
  font-size: 2.25rem;
  font-weight: 700;
  margin: 18px auto 0 30px;
}

.u-section-1 .u-video-1 {
  width: 570px;
  height: 321px;
  margin: 12px auto 0 30px;
}

.u-section-1 .embed-responsive-1 {
  position: absolute;
}

.u-section-1 .u-icon-1 {
  width: 64px;
  height: 64px;
  background-image: none;
  margin: -321px 316px 0 auto;
  padding: 10px;
}

.u-section-1 .u-text-2 {
  font-size: 1.875rem;
  font-weight: 700;
  margin: -56px 136px 0 auto;
}

.u-section-1 .u-group-2 {
  width: 412px;
  min-height: 65px;
  height: auto;
  margin: 87px 41px 0 auto;
}

.u-section-1 .u-container-layout-2 {
  padding-left: 30px;
  padding-right: 30px;
}

.u-section-1 .u-text-3 {
  font-size: 1.25rem;
  margin: 0 auto 0 0;
}

.u-section-1 .u-text-4 {
  font-weight: 700;
  font-size: 1.25rem;
  margin: -15px 30px 0 auto;
}

.u-section-1 .u-text-5 {
  font-size: 1.25rem;
  margin: -15px auto 0 0;
}

.u-section-1 .u-image-1 {
  width: 190px;
  height: 107px;
  margin: 132px auto 0 30px;
}

.u-section-1 .u-image-2 {
  width: 190px;
  height: 107px;
  margin: -107px auto 0 239px;
}

.u-section-1 .u-image-3 {
  width: 190px;
  height: 107px;
  margin: -107px auto 0 447px;
}

.u-section-1 .u-image-4 {
  width: 190px;
  height: 107px;
  margin: 19px auto 0 29px;
}

.u-section-1 .u-text-6 {
  font-size: 1.25rem;
  margin: 19px auto 0 29px;
}

.u-section-1 .u-group-3 {
  margin-top: 30px;
  margin-bottom: 30px;
  background-image: none;
  min-height: 561px;
  height: auto;
}

.u-section-1 .u-container-layout-3 {
  padding: 30px 0 27px;
}

.u-section-1 .u-line-1 {
  left: 404px;
  top: 120px;
  transform-origin: center top 0px;
  position: absolute;
  height: 50px;
}

.u-section-1 .u-line-2 {
  left: auto;
  top: 120px;
  transform-origin: center top 0px;
  position: absolute;
  height: 50px;
  right: 351px;
}

.u-section-1 .u-text-7 {
  font-size: 2.25rem;
  font-weight: 700;
  margin: 0 30px;
}

.u-section-1 .u-text-8 {
  font-size: 1.5rem;
  font-weight: 700;
  margin: 33px 20px 0 auto;
}

.u-section-1 .u-text-9 {
  font-size: 1.5rem;
  font-weight: 700;
  margin: -38px auto 0 30px;
}

.u-section-1 .u-text-10 {
  font-size: 1.5rem;
  font-weight: 700;
  margin: -38px auto 0;
}

.u-section-1 .u-image-5 {
  width: 127px;
  height: 127px;
  margin: 16px auto 0 16px;
}

.u-section-1 .u-text-11 {
  font-size: 1.5rem;
  margin: -119px auto 0;
}

.u-section-1 .u-text-12 {
  font-size: 1.5rem;
  font-weight: 700;
  margin: -15px 75px 0 auto;
}

.u-section-1 .u-text-13 {
  margin: -61px 61px 0 auto;
}

.u-section-1 .u-text-14 {
  margin: 13px auto 0;
}

.u-section-1 .u-text-15 {
  font-size: 1.5rem;
  margin: 64px auto 0;
}

.u-section-1 .u-text-16 {
  font-size: 1.5rem;
  font-weight: 700;
  margin: -18px 75px 0 auto;
}

.u-section-1 .u-text-17 {
  margin: -58px 61px 0 auto;
}

.u-section-1 .u-image-6 {
  width: 374px;
  height: 45px;
  margin: -8px auto 0 20px;
}

.u-section-1 .u-text-18 {
  margin: -24px auto 0;
}

.u-section-1 .u-text-19 {
  font-size: 1.5rem;
  margin: 49px auto 0;
}

.u-section-1 .u-image-7 {
  width: 374px;
  height: 82px;
  margin: -33px auto 0 20px;
}

.u-section-1 .u-text-20 {
  font-size: 1.5rem;
  font-weight: 700;
  margin: -61px 75px 0 auto;
}

.u-section-1 .u-text-21 {
  margin: -57px 61px 0 auto;
}

.u-section-1 .u-text-22 {
  margin: 7px auto 0;
}

@media (max-width: 1199px) {
   .u-section-1 {
    background-position: 50% 50%;
  }

  .u-section-1 .u-sheet-1 {
    min-height: 1708px;
  }

  .u-section-1 .u-group-1 {
    height: auto;
  }

  .u-section-1 .u-icon-1 {
    margin-right: 261px;
  }

  .u-section-1 .u-group-2 {
    height: auto;
  }

  .u-section-1 .u-container-layout-2 {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .u-section-1 .u-group-3 {
    height: auto;
  }

  .u-section-1 .u-text-16 {
    margin-top: -19px;
  }

  .u-section-1 .u-text-17 {
    margin-top: -57px;
  }

  .u-section-1 .u-text-21 {
    margin-top: -58px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1308px;
  }

  .u-section-1 .u-icon-1 {
    margin-right: 200px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 981px;
  }

  .u-section-1 .u-video-1 {
    width: 540px;
    height: 304px;
  }

  .u-section-1 .u-icon-1 {
    margin-top: -304px;
    margin-right: 150px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-image-3 {
    margin-left: 350px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 618px;
  }

  .u-section-1 .u-video-1 {
    width: 340px;
    height: 191px;
  }

  .u-section-1 .u-icon-1 {
    margin-top: -191px;
    margin-right: 94px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 86px;
  }

  .u-section-1 .u-group-2 {
    width: 340px;
    margin-right: 0;
  }

  .u-section-1 .u-image-2 {
    margin-left: 150px;
  }

  .u-section-1 .u-image-3 {
    margin-left: 150px;
  }

  .u-section-1 .u-text-12 {
    margin-top: -51px;
  }

  .u-section-1 .u-text-14 {
    margin-top: 49px;
  }

  .u-section-1 .u-text-16 {
    margin-top: -66px;
  }

  .u-section-1 .u-text-17 {
    margin-top: -46px;
  }

  .u-section-1 .u-image-6 {
    width: 340px;
    height: 41px;
    margin-top: 27px;
    margin-left: 0;
  }

  .u-section-1 .u-text-18 {
    margin-top: -16px;
  }

  .u-section-1 .u-image-7 {
    width: 340px;
    height: 75px;
    margin-top: -72px;
    margin-left: 0;
  }

  .u-section-1 .u-text-20 {
    margin-top: -54px;
  }
}