 .u-section-1 {
  background-image: url("images/Fnatic_Boaster_at_Masters_Reykjavik_2022.jpg");
}

.u-section-1 .u-sheet-1 {
  min-height: 1719px;
}

.u-section-1 .u-group-1 {
  background-image: none;
  min-height: 1489px;
  height: auto;
  margin-top: 200px;
  margin-bottom: 30px;
}

.u-section-1 .u-container-layout-1 {
  padding: 0 4px;
}

.u-section-1 .u-text-1 {
  font-size: 2.25rem;
  font-weight: 700;
  margin: 0 auto;
}

.u-section-1 .u-group-elements-1 {
  width: 281px;
  min-height: 398px;
  height: auto;
  margin: 28px auto 0 26px;
}

.u-section-1 .u-image-1 {
  height: 360px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-text-2 {
  font-size: 1.5rem;
  font-weight: 700;
  margin: 0 auto 0 73px;
}

.u-section-1 .u-group-elements-2 {
  width: 308px;
  min-height: 398px;
  height: auto;
  margin: -398px auto 0;
}

.u-section-1 .u-image-2 {
  width: 281px;
  height: 360px;
  margin: 0 auto 0 14px;
}

.u-section-1 .u-text-3 {
  font-size: 1.5rem;
  margin: 0;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-group-elements-3 {
  width: 280px;
  min-height: 398px;
  height: auto;
  margin: -398px 26px 0 auto;
}

.u-section-1 .u-image-3 {
  height: 360px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-text-4 {
  font-size: 1.5rem;
  font-weight: 700;
  margin: 0 64px;
}

.u-section-1 .u-btn-2 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-group-elements-4 {
  width: 280px;
  min-height: 398px;
  height: auto;
  margin: 41px auto 0 26px;
}

.u-section-1 .u-image-4 {
  height: 360px;
  object-position: 19.69% 50%;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-text-5 {
  font-weight: 700;
  font-size: 1.5rem;
  margin: 0 auto 0 98px;
}

.u-section-1 .u-group-elements-5 {
  width: 280px;
  min-height: 398px;
  height: auto;
  margin: -398px auto 0;
}

.u-section-1 .u-image-5 {
  height: 360px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-text-6 {
  font-size: 1.5rem;
  font-weight: 700;
  margin: 0 auto 0 24px;
}

.u-section-1 .u-group-elements-6 {
  width: 280px;
  min-height: 398px;
  height: auto;
  margin: -398px 26px 0 auto;
}

.u-section-1 .u-image-6 {
  height: 360px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-text-7 {
  font-size: 1.5rem;
  font-weight: 700;
  margin: 0 107px 0 81px;
}

.u-section-1 .u-group-elements-7 {
  width: 288px;
  min-height: 398px;
  height: auto;
  margin: 41px auto 0 26px;
}

.u-section-1 .u-image-7 {
  width: 280px;
  height: 360px;
  margin: 0 auto 0 4px;
}

.u-section-1 .u-text-8 {
  font-size: 1.5rem;
  font-weight: 700;
  margin: 0;
}

.u-section-1 .u-group-elements-8 {
  width: 280px;
  min-height: 398px;
  height: auto;
  margin: -398px auto 0;
}

.u-section-1 .u-image-8 {
  height: 360px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-text-9 {
  font-size: 1.5rem;
  font-weight: 700;
  margin: 0 auto 0 41px;
}

.u-section-1 .u-group-elements-9 {
  width: 280px;
  min-height: 398px;
  height: auto;
  margin: -398px 26px 0 auto;
}

.u-section-1 .u-image-9 {
  height: 360px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-text-10 {
  font-size: 1.5rem;
  font-weight: 700;
  margin: 0 auto;
}

.u-section-1 .u-group-elements-10 {
  width: 160px;
  min-height: 64px;
  margin: 28px 26px 0 auto;
}

.u-section-1 .u-icon-1 {
  width: 64px;
  height: 64px;
  background-image: none;
  margin: 0 0 0 auto;
  padding: 10px;
}

.u-section-1 .u-text-11 {
  font-weight: 700;
  font-size: 1.125rem;
  margin: -46px 65px 0 0;
}

@media (max-width: 1199px) {
   .u-section-1 {
    background-position: 50% 50%;
  }

  .u-section-1 .u-sheet-1 {
    min-height: 1417px;
  }

  .u-section-1 .u-group-1 {
    margin-top: 740px;
    height: auto;
  }

  .u-section-1 .u-group-elements-1 {
    min-height: 335px;
  }

  .u-section-1 .u-image-1 {
    height: 297px;
  }

  .u-section-1 .u-group-elements-3 {
    min-height: 335px;
  }

  .u-section-1 .u-image-3 {
    height: 297px;
  }

  .u-section-1 .u-group-elements-4 {
    min-height: 335px;
  }

  .u-section-1 .u-image-4 {
    height: 297px;
  }

  .u-section-1 .u-group-elements-5 {
    min-height: 335px;
  }

  .u-section-1 .u-image-5 {
    height: 297px;
  }

  .u-section-1 .u-group-elements-6 {
    min-height: 335px;
  }

  .u-section-1 .u-image-6 {
    height: 297px;
  }

  .u-section-1 .u-group-elements-8 {
    min-height: 335px;
  }

  .u-section-1 .u-image-8 {
    height: 297px;
  }

  .u-section-1 .u-group-elements-9 {
    min-height: 335px;
  }

  .u-section-1 .u-image-9 {
    height: 297px;
  }

  .u-section-1 .u-icon-1 {
    color: rgb(255, 255, 255) !important;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1085px;
  }

  .u-section-1 .u-group-elements-1 {
    min-height: 265px;
  }

  .u-section-1 .u-image-1 {
    height: 227px;
  }

  .u-section-1 .u-group-elements-3 {
    min-height: 265px;
  }

  .u-section-1 .u-image-3 {
    height: 227px;
  }

  .u-section-1 .u-group-elements-4 {
    min-height: 265px;
  }

  .u-section-1 .u-image-4 {
    height: 227px;
  }

  .u-section-1 .u-group-elements-5 {
    min-height: 265px;
  }

  .u-section-1 .u-image-5 {
    height: 227px;
  }

  .u-section-1 .u-group-elements-6 {
    min-height: 265px;
  }

  .u-section-1 .u-image-6 {
    height: 227px;
  }

  .u-section-1 .u-group-elements-8 {
    min-height: 265px;
  }

  .u-section-1 .u-image-8 {
    height: 227px;
  }

  .u-section-1 .u-group-elements-9 {
    min-height: 265px;
  }

  .u-section-1 .u-image-9 {
    height: 227px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 814px;
  }

  .u-section-1 .u-group-1 {
    margin-top: 797px;
  }

  .u-section-1 .u-group-elements-1 {
    min-height: 208px;
  }

  .u-section-1 .u-image-1 {
    height: 170px;
  }

  .u-section-1 .u-group-elements-3 {
    min-height: 208px;
  }

  .u-section-1 .u-image-3 {
    height: 170px;
  }

  .u-section-1 .u-group-elements-4 {
    min-height: 208px;
  }

  .u-section-1 .u-image-4 {
    height: 170px;
  }

  .u-section-1 .u-group-elements-5 {
    min-height: 208px;
  }

  .u-section-1 .u-image-5 {
    height: 170px;
  }

  .u-section-1 .u-group-elements-6 {
    min-height: 208px;
  }

  .u-section-1 .u-image-6 {
    height: 170px;
  }

  .u-section-1 .u-group-elements-8 {
    min-height: 208px;
  }

  .u-section-1 .u-image-8 {
    height: 170px;
  }

  .u-section-1 .u-group-elements-9 {
    min-height: 208px;
  }

  .u-section-1 .u-image-9 {
    height: 170px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 513px;
  }

  .u-section-1 .u-group-elements-1 {
    min-height: 145px;
  }

  .u-section-1 .u-image-1 {
    height: 107px;
  }

  .u-section-1 .u-group-elements-3 {
    min-height: 145px;
  }

  .u-section-1 .u-image-3 {
    height: 107px;
  }

  .u-section-1 .u-group-elements-4 {
    min-height: 145px;
  }

  .u-section-1 .u-image-4 {
    height: 107px;
  }

  .u-section-1 .u-group-elements-5 {
    min-height: 145px;
  }

  .u-section-1 .u-image-5 {
    height: 107px;
  }

  .u-section-1 .u-group-elements-6 {
    min-height: 145px;
  }

  .u-section-1 .u-image-6 {
    height: 107px;
  }

  .u-section-1 .u-group-elements-8 {
    min-height: 145px;
  }

  .u-section-1 .u-image-8 {
    height: 107px;
  }

  .u-section-1 .u-group-elements-9 {
    min-height: 145px;
  }

  .u-section-1 .u-image-9 {
    height: 107px;
  }
}